# copy this file to /lib/systemd/system/

[Unit]
Description=2C-Server NodeJS Application
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/opt/2c-server/
ExecStart=/usr/bin/node /opt/2c-server/

User=yago
Group=yago
Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target