<script type="text/javascript">
    $().w2form({
        name: 'upload',
        style: 'border: 0px; background-color: transparent;',
        formHTML: '<div class="w2ui-page page-0">' +
            '    <div class="w2ui-field">' +
            '        <label>Названиие отчета:</label>' +
            '        <div>' +
            '           <input name="name" type="text" style="width: 100%"/>' +
            '        </div>' +
            '    </div>' +
            '    <div class="w2ui-field">' +
            '        <label>Файл трафарета:</label>' +
            '        <div>' +
            '           <input name="trafaret" type="file" style="width: 100%" accept="application/vnd.oasis.opendocument.spreadsheet,.ods"/>' +
            '           <input type="hidden" name="to"/>' +
            '        </div>' +
            '    </div>' +
            '</div>' +
            '<div class="w2ui-buttons">' +
            '    <button class="btn" name="reset" type="button">Очистить</button>' +
            '    <button class="btn" name="send" type="button">Отправить</button>' +
            '</div>',
        url: '/workspace/api/trafaret-upload',
        fields: [{
            field: 'trafaret',
            type: 'file',
            required: true,
            options: {
                max: 1,
                maxFileSize: 0
            }

        }, {
            field: 'name',
            type: 'text',
            required: true
        }, {
            field: 'to',
            type: 'text'
        }],
        record: {
            to: '<?=$path_to?>'
        },
        actions: {
            "send": function(target, data) {
                var obj = this;

                obj.save(null, function(data) {
                    switch (data.status) {
                        case 'success':
                            {
                                w2alert(data.message);
                                console.log(obj);
                                obj.clear();
                                break;
                            }
                        case 'error':
                            {
                                w2alert(data.message);
                                break;
                            }
                    }

                });

            },
            "reset": function() {
                this.clear();
            }
        }
    });

    $('#body').w2render('upload');
</script>