<script src="/static/js/jstree.min.js"></script>
<script type="text/javascript">
var trafarets_pstyle = 'background-color: #F5F6F7; border: 1px solid #dfdfdf; padding: 5px;';
var reports_pstyle = 'background-color: #F5F6F7; border: 1px solid #dfdfdf; padding: 5px;';
    var config = {
        layout: {
            name: 'layout',
            padding: 0,
            margin: 10,
            panels: [
                {type: 'left',style: trafarets_pstyle,size: '25%',resizable: true,title: 'Трафареты',
                   toolbar     : {
        name : 'trafaret-toolbar',
        items: [
            { type: 'button',  id: 'refresh',  caption: 'Обновить' },
            { type: 'button',  id: 'new',  caption: 'Новый' }
        ],
        onClick: function (event) {
      
            if (event.target == 'refresh') {
              $('#templates-tree').jstree("refresh");

            }
            if (event.target == 'new') {
              var path = ($("#templates-tree").jstree("get_selected"));
              nw.Window.open(''+window.location.host+'/workspace/trafaret-upload?to='+path,
               {
                  title: 'Загрузка трафарета',
                  width: 400,
                  height: 200,
                  position: 'center',
                  resizable: false
               },
                function(new_win) {
                  new_win.on('close', function() {
                    $('#templates-tree').jstree("refresh");
                       this.close(true); 
                });
});

            }
        }
    },    // w2toolbar object for the panel
    show : {               // indicates what sections are shown
        toolbar : true
    },
                  },
                {type: 'main', style: reports_pstyle, size: '75%',resizable: false, title: 'Отчеты',
                toolbar     : {
        name : 'reports-toolbar',
        items: [
            { type: 'button',  id: 'refresh',  caption: 'Обновить' }
        ],
        onClick: function (event) {
      
            if (event.target == 'refresh') {
              $('#reports-tree').jstree("refresh");

            }
        }
    },    // w2toolbar object for the panel
    show : {               // indicates what sections are shown
        toolbar : true
    },
              }
            ]
        }
    };

    $('#body').w2layout(config.layout);
    w2ui.layout.content('left', '<div id="templates-tree"/>');
    w2ui.layout.content('main', '<div id="reports-tree"/>');

//jstree config
$('#templates-tree').jstree({
		'core' : {
			'data' : {
				"url" : "/workspace/api/templates",
				"dataType" : "json" 
			}
		}
    });
    $('#reports-tree').jstree({
		'core' : {
			'data' : {
				"url" : "/workspace/api/reports",
				"dataType" : "json" 
			}
		}
	});

</script>

<script type="text/javascript">
//Window native menu
// Create an empty menubar
var menu = new nw.Menu({type: 'menubar'});

// Create a submenu as the 2nd level menu
var submenu = new nw.Menu();
submenu.append(new nw.MenuItem({ label: 'Новый отчет' }));
submenu.append(new nw.MenuItem({ label: 'Новый трафарет' }));

// Create and append the 1st level menu to the menubar
menu.append(new nw.MenuItem({
  label: 'Операции',
  submenu: submenu
}));

// Create a submenu as the 2nd level menu
var submenu = new nw.Menu();
submenu.append(new nw.MenuItem({ label: 'Справка' }));
submenu.append(new nw.MenuItem({ label: 'О программе' }));

// Create and append the 1st level menu to the menubar
menu.append(new nw.MenuItem({
  label: 'Помощь',
  submenu: submenu
}));

menu.append(new nw.MenuItem({ enabled: false, label: '|' }));

menu.append(new nw.MenuItem(
    { label: 'Выход',
      click: function(){
        nw.Window.get().menu = '';
        location='/users/logout';
      }
     }));

// Assign it to `window.menu` to get the menu displayed
nw.Window.get().menu = menu;
</script>
